<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Chawri Online - The Paper Exchange</title>
        <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Chawri Online">

        <!-- ================= Favicon ================== -->
        <!-- Standard -->
        <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
        <!-- Retina iPad Touch Icon-->
        <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
        <!-- Retina iPhone Touch Icon-->
        <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
        <!-- Standard iPad Touch Icon--> 
        <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
        <!-- Standard iPhone Touch Icon--> 
        <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    	<!-- ================= Google Fonts ================== -->
        <link href='http://fonts.googleapis.com/css?family=Lato:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lora:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800&amp;subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css'>
        
        <!-- Cloud Zoom CSS -->
        <!-- <link rel="stylesheet" type="text/css" href="css/em_cloudzoom.css" media="all" /> -->

        <!-- Menu CSS -->
        <link rel="stylesheet" type="text/css" href="css\menu.css" media="all">
        <!-- Mega Menu CSS -->
        <link rel="stylesheet" type="text/css" href="css\megamenu.css" media="all">

        <!-- Widget CSS -->
        <!-- <link rel="stylesheet" type="text/css" href="css/widgets.css" media="all" /> -->
        
        <!-- Default CSS -->
        <link rel="stylesheet" type="text/css" href="css\styles.css" media="all">
        <!-- Font Awesome CSS -->
        <link rel="stylesheet" type="text/css" href="css\font-awesome.css" media="all">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" type="text/css" href="css\owl.carousel.css" media="all">
        <!-- Responsive CSS -->
        <link rel="stylesheet" type="text/css" href="css\responsive.css" media="all">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="css\bootstrap.css" media="all">

        <!-- Ajax Cart CSS -->
        <!-- <link rel="stylesheet" type="text/css" href="css/em_ajaxcart.css" media="all" /> -->
        <!-- Blog Style CSS -->
        <!-- <link rel="stylesheet" type="text/css" href="css/blog-styles.css" media="all" /> -->
        <!-- Multi Deal Pro CSS -->
        <link rel="stylesheet" type="text/css" href="css\em_multidealpro.css" media="all">

        <!-- Product Labels CSS -->
        <link rel="stylesheet" type="text/css" href="css\em_productlabels.css" media="all">

        <!-- Quick Shop CSS -->
        <!-- <link rel="stylesheet" type="text/css" href="css/em_quickshop.css" media="all" /> -->

        <!-- Fancybox CSS -->
        <link rel="stylesheet" type="text/css" href="css\jquery.fancybox.css" media="all">

        <!-- Responsive Tab CSS -->
        <link rel="stylesheet" type="text/css" href="css\responsive-tabs.css" media="all">
        <!-- Print CSS -->
        <link rel="stylesheet" type="text/css" href="css\print.css" media="print">
        <!-- Market and Deal CSS -->
        <link rel='stylesheet' type='text/css' media='all' href='css\style_marketdeal.css'>
        <!-- Market and Deal CSS -->
        <link rel='stylesheet' type='text/css' media='all' href='css\marketdeal-style.css'>

        
	</head>

	<body class="cms-index-index">
    	
        <div class="wrapper ">
            <noscript>
                <div class="global-site-notice noscript">
                    <div class="notice-inner">
                        <p> <strong>JavaScript seems to be disabled in your browser.</strong>
                            <br> You must have JavaScript enabled in your browser to utilize the functionality of this website.</p>
                    </div>
                </div>
            </noscript>
            <div class="page two-columns-right">
                
                <div class="em-wrapper-header">
                    <div id="em-mheader" class="visible-xs container">
                        <div id="em-mheader-top" class="row">
                            <div id="em-mheader-logo" class="col-xs-4">
                                <div class="em-logo"><a href="#" title="Market and Deal Commerce" class="logo"><strong>Chawri Oline </strong><img src="images/chawrionline_logo_small.jpg" alt="Market and Deal Commerce"></a>
                                </div>
                            </div>
                            <div class="col-xs-20">
                                <div class="em-top-search">
                                    <div class="em-header-search-mobile">
                                        <form id="search_mini_form_mobile" method="get">
                                            <div class="form-search no_cate_search">
                                                <div class="text-search">
                                                    <input id="search-mobile" type="text" name="q" value="" class="input-text" maxlength="128" placeholder="Search entire store here..."> </br>
                                                                
                                                    <button type="submit" title="Search" class="button"><span><span>Search</span></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div><!-- /.em-top-search -->
                                <div class="em-top-cart">
                                    <div class="em-wrapper-topcart-mobile em-no-quickshop">
                                        <div class="em-container-topcart">
                                            <div class="em-summary-topcart">
                                                <a id="em-amount-cart-link" title="Shopping Cart" class="em-amount-topcart" href="#"> <span class="em-topcart-text">My Cart:</span> <span class="em-topcart-qty">0</span> </a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div><!-- /.em-top-cart -->
                            
                                <div id="em-mheader-wrapper-menu"> <span class="visible-xs fa fa-bars" id="em-mheader-menu-icon"></span>
                                    <div id="em-mheader-menu-content" style="display: none;">
                                        <div class="em-wrapper-top">
                                        <div class="em-language-currency row">
                                                <div class="col-sm-24">
                                                    <div class="form-language em-language-style-mobile">
                                                        <ul>
                                                            <li class="selected">
                                                                <a href="#" title="English"> <img alt="english" src="images/language/english.png"> </a>
                                                            </li>
                                                            <li class="">
                                                                <a href="#" title="French"> <img alt="french" src="htimages/language/french.png"> </a>
                                                            </li>
                                                        </ul>
                                                    </div>  <!-- /.form-language -->
                                                    <div class="em-currency-style-mobile">
                                                        <ul class="list-inline">
                                                            <li class=""> <a href="#"> AUD </a>
                                                            </li>
                                                            <li class=""> <a href="#"> EUR </a>
                                                            </li>
                                                            <li class=" selected"> <a href="#"> USD </a>
                                                            </li>
                                                        </ul>
                                                    </div><!-- /.em-currency-style-mobile -->
                                                </div>
                                            </div><!-- /.em-language-currency -->
                                            <div class="em-top-links row">
                                                <div class="">
                                                    <ul class="top-header-link links">
                                                        <li class="first col-xs-8"> <a title="Log In" class="login-link fa fa-user" href="#"><span>Log In</span></a>
                                                        </li>
                                                        <li class="col-xs-8"> <a title="Sign up" class='signup-link fa fa-sign-out' href="#"><span>Sign up</span></a>
                                                        </li>
                                                        <li class="last col-xs-8"> <a href="#" class="checkout-link fa fa-shopping-cart"><span>Cart</span></a>
                                                        </li>
                                                    </ul><!-- /.top-header-link -->
                                                </div>
                                            </div><!-- /.em-top-links -->
                                        </div><!-- /.em-wrapper-top -->
                                        
                                        <div class="row mobile-main-menu toggle-menu">
                                            <div class="col-sm-24">
                                                <div class="em-top-menu">
                                                    <div class="em-menu-mobile">
                                                        <div class="megamenu-wrapper wrapper-7_8258">
                                                            <div class="em_nav" id="toogle_menu_7_8258">
                                                                <ul class="hnav em_menu_mobile">
                                                                    <li class="menu-item-link menu-item-depth-0 fa fa-home menu-item-parent">
                                                                        <a class="em-menu-link" href=""> <span> Home </span> </a>
                                                                        
                                                                    </li><!-- /.menu-item-link -->
                                                                    
<li class="menu-item-link menu-item-depth-0 fa fa-home menu-item-parent">
                                                                        <a class="em-menu-link" href=""> <span> About Us </span> </a>
                                                                        
                                                                    </li><!-- /.menu-item-link -->
                                                                    
<li class="menu-item-link menu-item-depth-0 fa fa-home menu-item-parent">
                                                                        <a class="em-menu-link" href=""> <span> How it Works </span> </a>
                                                                        
                                                                    </li><!-- /.menu-item-link -->
                                                                    
<li class="menu-item-link menu-item-depth-0 fa fa-home menu-item-parent">
                                                                        <a class="em-menu-link" href=""> <span> Blogss </span> </a>
                                                                        
                                                                    </li><!-- /.menu-item-link -->
                                                                    <li class="menu-item-link menu-item-depth-0 dd-menu-link fa fa-bars menu-item-parent">
                                                                        <a class="em-menu-link" href="#"> <span> Category </span> </a>
                                                                        <ul class="menu-container">
                                                                            <li class="menu-item-text menu-item-depth-1  ">
                                                                                <ul class="em-catalog-navigation vertical">
                                                                                    <li class="level0 nav-1 first parent">
                                                                                        <a href="#"> <span>Furniture</span> </a>
                                                                                        <ul class="level0">
                                                                                            <li class="level1 nav-1-1 first">
                                                                                                <a href="#"> <span>Living Room</span> </a>
                                                                                            </li>
                                                                                            <li class="level1 nav-1-2 last">
                                                                                                <a href="#"> <span>Bedroom</span> </a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </li><!-- /.menu-item-vbox -->
                                                                                    <li class="level0 nav-2 parent">
                                                                                        <a href="#"> <span>Electronics</span> </a>
                                                                                        <ul class="level0">
                                                                                            <li class="level1 nav-2-1 first">
                                                                                                <a href="#"> <span>Cell Phones</span> </a>
                                                                                            </li>
                                                                                            <li class="level1 nav-2-2 parent">
                                                                                                <a href="#"> <span>Cameras</span> </a>
                                                                                                <ul class="level1">
                                                                                                    <li class="level2 nav-2-2-1 first">
                                                                                                        <a href="#"> <span>Accessories</span> </a>
                                                                                                    </li>
                                                                                                    <li class="level2 nav-2-2-2 last">
                                                                                                        <a href="#"> <span>Digital Cameras</span> </a>
                                                                                                    </li>
                                                                                                </ul>
                                                                                            </li>
                                                                                            <li class="level1 nav-2-3 last parent">
                                                                                                <a href="#"> <span>Computers</span> </a>
                                                                                                <ul class="level1">
                                                                                                    <li class="level2 nav-2-3-3 first">
                                                                                                        <a href="#"> <span>Build Your Own</span> </a>
                                                                                                    </li>
                                                                                                    <li class="level2 nav-2-3-4">
                                                                                                        <a href="#"> <span>Laptops</span> </a>
                                                                                                    </li>
                                                                                                    <li class="level2 nav-2-3-5">
                                                                                                        <a href="#"> <span>Hard Drives</span> </a>
                                                                                                    </li>
                                                                                                    <li class="level2 nav-2-3-6">
                                                                                                        <a href="#"> <span>Monitors</span> </a>
                                                                                                    </li>
                                                                                                    <li class="level2 nav-2-3-7">
                                                                                                        <a href="#"> <span>RAM / Memory</span> </a>
                                                                                                    </li>
                                                                                                    <li class="level2 nav-2-3-8">
                                                                                                        <a href="#"> <span>Cases</span> </a>
                                                                                                    </li>
                                                                                                    <li class="level2 nav-2-3-9">
                                                                                                        <a href="#"> <span>Processors</span> </a>
                                                                                                    </li>
                                                                                                    <li class="level2 nav-2-3-10 last">
                                                                                                        <a href="#"> <span>Peripherals</span> </a>
                                                                                                    </li>
                                                                                                </ul>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </li><!-- /.menu-item-vbox -->
                                                                                    
         
                                                                                    
                                                                                    
                                                                            </li>
                                                                        </ul>
                                                                    </li><!-- /.menu-item-link -->
                                                                    <!-- /.menu-item-link -->
                                                                </ul><!-- /.hnav -->
                                                            </div>
                                                        </div><!-- /.megamenu-wrapper -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /. mobile-main-menu -->
                                        <div class="row mobile-block">
                                            <div class="col-sm-24">
                                                <ul class="em-mobile-help">
                                                    <li><a href="#" target="_blank"><span class="fa fa-download">&nbsp;</span>Download App</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-question-circle">&nbsp;</span>Help Center</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-star">&nbsp;</span>Feedback</a>
                                                    </li>
                                                    <li><a href="#"><span class="fa fa-comment-o">&nbsp;</span>Blog</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div><!-- /.mobile-block -->
                                    </div><!-- /.em-mheader-menu-content -->
                                </div><!-- /#em-mheader-wrapper-menu -->
                            </div>
                        </div><!-- /#em-mheader-top -->
                    </div><!-- /#em-mheader -->
                    <div class="hidden-xs em-header-style31">
                        <div class="em-header-top">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-24">
                                        <div class="em-wrapper-header-top">
                                            
                                            <div class="em-top-links">
                                                 <div class="f-left">
                                                    <ul class="links">
                                                        <li class="first last"><a href="multidealpro.html" title="Home" class="top-link-deal">Home</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                
                                                <div class="f-right">
                                                    <ul class="em-links-wishlist">
                                                        <li class="first last">
        <a href="wishlist.html" title="Become A Seller">Become A Seller</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ul class="list-inline f-right">
                                                    <li><a class="em-register-link" href="register.html" title="Login/Register">Login / Register</a>
                                                    </li>
                                                </ul>
                                              
                                            </div><!-- /.em-top-links -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.em-header-top -->
                        <div class="em-header-middle">
                            <div class="container">
                                <div class="row">
                                    <div class="em-logo col-sm-6"><a href="#" title="Chawri Oline" class="logo"><strong> ChawriOnline</strong><img class="retina-img" src="images/chawrionline%20logo1.jpg" alt="Chawri Oline"></a>
                                    </div>
                                    <div class="col-sm-18">
                                        <div class="em-top-cart f-right">
                                            <div class="em-wrapper-js-topcart em-wrapper-topcart em-no-quickshop">
                                                <div class="em-container-topcart">
                                                    <div class="em-summary-topcart">
                                                        <a class="em-amount-js-topcart em-amount-topcart" title="Shopping Cart" href="cart.html"> <span class="em-topcart-text">My Cart:</span> <span class="em-topcart-qty">0</span> </a>
                                                    </div>
                                                    <div class="em-container-js-topcart topcart-popup" style="display:none">
                                                        <div class="topcart-popup-content">
                                                            <p class="em-block-subtitle">Shopping Cart</p>
                                                            <div class="topcart-content">
                                                                <p class="amount-content "> You have no items in your shopping cart.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.em-top-cart -->
                                        <div class="em-search f-right">
                                            <div class="em-top-search">
                                                <div class="em-search-style02">
                                                    <div class="em-no-category-search">
                                                        <form id="search_mini_form" method="get">
                                                            <div class="form-search no_cate_search">
                                                                <div class="text-search">
                                                                    <label for="search">Search:</label>
                                                                    <input id="search" type="search" name="q" value="" class="input-text required-entry" maxlength="128" placeholder="Search entire store here...">
                                                                    <button type="submit" title="Search" class="button"><span><span>Search</span></span>
                                                                    </button>
                                                                    <div id="search_autocomplete" class="search-autocomplete"></div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- /.em-search -->
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.em-header-middle -->
                        <div id="em-fixed-top"></div>
                        <div class="em-header-bottom em-fixed-top">
                            <div class="container em-menu-fix-pos">
                                <div class="row">
                                    <div class="col-sm-24">
                                        <div class="em-line">
                                            <div class="em-logo-sticky f-left">
                                                <a href="#" title="Chawri Online" class="logo"><img src="images/chawrionline_logo_small.jpg" alt="Chawri Online">
                                                </a>
                                            </div>
                                            <div class="em-menu-hoz col-sm-20">
                                                <div id="em-main-megamenu">
                                                    <div class="em-menu">
                                                        <div class="megamenu-wrapper wrapper-4_8356">
                                                            <div class="em_nav" id="toogle_menu_4_8356">
                                                                <ul class="hnav em_hoz_menu effect-menu">
                                                                    <li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                                                        <a class="em-menu-link" href=""> <span> Home </span> </a>
                                                                        
                                                                    </li><!-- /.menu-item-link -->
                                                                    <li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                                                        <a class="em-menu-link" href="#"> <span> About Us </span> </a>
                                                                        
                                                                    </li><!-- /.menu-item-link -->
                                                                    <li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                                                        <a class="em-menu-link" href="#"> <span> How it Works </span> </a>
                                                                        
                                                                    </li><!-- /.menu-item-link -->
                                                                    <li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                                                        <a class="em-menu-link" href="#"> <span> My Products </span> </a>
                                                                        
                                                                    </li><!-- /.menu-item-link -->                
                                                                
<li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                                                        <a class="em-menu-link" href="#"> <span> My Profile </span> </a>
                                                                        
                                                                    </li>
                                                                    
                            
                                               
                                                                    
                                                                    <!-- /.menu-item-link -->

<li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                                                        <a class="em-menu-link" href="#"> <span> My Orders </span> </a>
                                                                        
                                                                    </li>
                                                                    <!-- /.menu-item-link -->
                                                                    
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- /.em-menu-hoz -->
                                            <div class="em-search em-search-sticky f-right">
                                                <div class="em-top-search">
                                                    <div class="em-wrapper-js-search em-search-style01">
                                                        <div class="em-wrapper-search"> <a class="em-search-icon" title="Search" href="javascript:void(0);"><span>Search</span></a>
                                                            <div class="em-container-js-search" style="display: none;">
                                                                <form id="search_mini_form_fixed_top" method="get">
                                                                    <div class="form-search">
                                                                        <label for="search">Search:</label>
                                                                        <input id="search-fixed-top" type="search" name="q" value="" class="input-text required-entry" maxlength="128" placeholder="Search entire store here...">
                                                                        <button type="submit" title="Search" class="button"><span><span>Search</span></span>
                                                                        </button>
                                                                        <div id="search_autocomplete_fixed_top" class="search-autocomplete"></div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- /.em-search -->
                                            <div class="em-top-cart f-right em-top-cart-sticky">
                                                <div class="em-wrapper-js-topcart em-wrapper-topcart em-no-quickshop">
                                                    <div class="em-container-topcart">
                                                        <div class="em-summary-topcart">
                                                            <a class="em-amount-js-topcart em-amount-topcart" title="Shopping Cart" href="cart.html"> <span class="em-topcart-text">My Cart:</span> <span class="em-topcart-qty">0</span> </a>
                                                        </div>
                                                        <div class="em-container-js-topcart topcart-popup" style="display:none">
                                                            <div class="topcart-popup-content">
                                                                <p class="em-block-subtitle">Shopping Cart</p>
                                                                <div class="topcart-content">
                                                                    <p class="amount-content "> You have no items in your shopping cart.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- /.em-top-cart -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.em-header-bottom -->
                    </div>
                </div><!-- /.em-wrapper-header -->